<html>
<head>

<title>{% block head_title %}{% endblock head_title %}</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</head>
<body>
    <div class="container">

        <div class="starter-template">
        {% block content %}
        {% endblock content %}
        </div>

    </div><!-- /.container -->
</body>
</html>
