{% extends "account/base.html" %}
{% load i18n %}

{% block head_title %}비밀번호 설정{% endblock head_title %}
{% block content %}
<div class="panel panel-info">
    {% if validlink %}
    <div class="panel-heading">
        <h3 class="panel-title">새 비밀번호 입력</h3>
    </div>
    <div class="panel-body">
        <form action="" method="post">{% csrf_token %}
            {{ form.new_password1.errors }}
            <div class="form-group">
                <label for="id_new_password1">새 비밀번호 입력</label>
                <input class="form-control" type="password" id="id_new_password1" name="new_password1" value="">
            </p>
            {{ form.new_password2.errors }}
            <div class="form-group">
                <label for="id_new_password2">새 비밀번호 확인</label>
                <input class="form-control" type="password" id="id_new_password2" name="new_password2" value="">
            </div>
            <div class="row">
                <div class="col-md-4 center-block">
                    <input type="submit" class="btn btn-default" value="확인" />
                </div>
            </div>
        </form>
    </div>

    {% else %}

    <div class="panel-heading">
        <h3 class="panel-title">비밀번호를 변경할 수 없습니다.</h3>
    </div>

    <div class="panel-body">
        <p>잘못된 경로로 접속하였습니다. (이미 비밀번호를 변경하셨을 경우에도 현재 페이지가 표시됩니다.)</p>
        <p>비밀번호를 변경하려면 다시 시도해 주세요.</p>
    </div>

    {% endif %}
</div>
{% endblock content %}
