<html>
    <head>
    </head>
    <body>
        <script>
            window.opener.sertificationSuccess(
                {
                    name: "{{ name }}",
                    phone: "{{ phone }}",
                    req_seq: "{{req_seq}}"
                }
            )
        </script>
    </body>
</html